Repository mola1129/resume: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

Remove glob patterns from lefthook config
  lefthook.yml
Due: none

Remove commit-msg hook from lefthook config
  lefthook.yml
Due: none

Remove parallel execution to prevent race conditions
  lefthook.yml
Due: none

Add OGP meta tags with profile image
  public/profile.png
  src/layouts/Layout.astro
Due: lint, format

Consolidate profile image to public directory
  src/assets/mola1129.png
  src/pages/index.astro
Due: lint, format

Update OGP description to Japanese
  src/layouts/Layout.astro
Due: lint, format

Remove redundant Twitter meta tags
  src/layouts/Layout.astro
Due: lint, format

Remove og:site_name meta tag
  src/layouts/Layout.astro
Due: lint, format

Add comprehensive OGP and SEO meta tags
  src/layouts/Layout.astro
Due: lint, format

Change og:type to profile for better semantics
  src/layouts/Layout.astro
Due: lint, format

Align title with OGP and add recommended SEO tags
  src/layouts/Layout.astro
Due: lint, format

Remove canonical link for simplicity
  src/layouts/Layout.astro
Due: lint, format

Add VSCode settings for auto format and lint on save
  .vscode/extensions.json
  .vscode/settings.json
Due: format

Add visual regression testing with Playwright
  .github/workflows/visual-test.yml
  .gitignore
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/README.md
  tests/visual-regression.spec.ts
Due: lint, format

Rename workflow file to visual-regression-test.yml
  .github/workflows/visual-regression-test.yml
Due: none

Update Node.js version to 24 in visual regression workflow
  .github/workflows/visual-regression-test.yml
Due: none

Improve visual regression test configuration and reliability
  .github/workflows/visual-regression-test.yml
  playwright.config.ts
  tests/visual-regression.spec.ts
Due: lint, format

Enable parallel test execution in CI for faster test runs
  playwright.config.ts
Due: lint, format

Update mobile device from Pixel 5 to Pixel 7
  playwright.config.ts
Due: lint, format

Improve documentation structure
  README.md
  tests/README.md
Due: format

Simplify documentation to essentials only
  README.md
  tests/README.md
Due: format

Remove redundant key settings section from VRT docs
  tests/README.md
Due: format

Consolidate VRT documentation into root README
  README.md
  tests/README.md
Due: format

Fix pnpm version conflict in CI
  .github/workflows/visual-regression-test.yml
Due: none

Increase webServer timeout to 120s for CI
  playwright.config.ts
Due: lint, format

Add stdout/stderr pipe to webServer for better logging
  playwright.config.ts
Due: lint, format

Fix webServer startup with --host flag
  playwright.config.ts
Due: lint, format

Temporarily generate snapshots in CI
  .github/workflows/visual-regression-test.yml
  tests/visual-regression.spec.ts-snapshots/.gitkeep
Due: none

Auto-commit snapshots from CI
  .github/workflows/visual-regression-test.yml
  tests/visual-regression.spec.ts-snapshots/.gitkeep
Due: none

Revert: Remove auto-commit functionality
  .github/workflows/visual-regression-test.yml
Due: none

Add visual regression test baseline snapshots
  tests/visual-regression.spec.ts-snapshots/homepage-dark-Desktop-Chrome-linux.png
  tests/visual-regression.spec.ts-snapshots/homepage-dark-Mobile-linux.png
  tests/visual-regression.spec.ts-snapshots/homepage-dark-Tablet-linux.png
  tests/visual-regression.spec.ts-snapshots/homepage-light-Desktop-Chrome-linux.png
  tests/visual-regression.spec.ts-snapshots/homepage-light-Mobile-linux.png
  tests/visual-regression.spec.ts-snapshots/homepage-light-Tablet-linux.png
Due: none

Fix VRT workflow to compare against baselines and clean up imports
  .github/workflows/visual-regression-test.yml
  README.md
  src/pages/index.astro
Due: lint, format

Update Node.js version to 24 across project
  .github/workflows/deploy.yml
  package.json
  pnpm-workspace.yaml
Due: format

Remove unnecessary pnpm-workspace.yaml
  pnpm-workspace.yaml
Due: none

Fix VRT setup command in README
  README.md
Due: format

Clean up README
  README.md
Due: format

Update dependencies
  pnpm-lock.yaml
Due: none

Add postinstall script to auto-install lefthook
  package.json
Due: format

Revert: Remove postinstall script
  package.json
Due: format

Add pnpm.onlyBuiltDependencies for lefthook
  package.json
Due: format

Path conditions:
  lint: any of: *.{js,ts,vue,astro}
  format: any of: *.{js,ts,vue,astro,json,md,css}
